/* Tag selectors */
hr {
    margin-left: 0px;
}

input {
    width: 180px;
    margin-bottom: 10px;
}

textarea {
    margin-bottom: 10px;
    margin-left: 80px;
}

/* Id selectors */
#firstNameInput {
    margin-left: 1px;
}

#lastNameInput {
    margin-left: 3px;
}

#emailInput {
    margin-left: 34px;
}

#submitButton {
    display: block;
    font-size: 20px;
    background-color: cadetblue;
    margin-left: 80px;
}